<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="/images/wu.png">
 
  <title>รถเข็นจ่ายยา</title>
</head>
<style>

</style>

<body>
  <%- include ../core/navbar.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 md-lg-sm-auto">
        <div class="card card-trolley " style="margin-top: 50px;">
          <div class="card-body">
          
            <form action="/users/updatepassword/<%=data[0].username%>" method="POST">
    
              <h4>เปลี่ยนรหัสผ่าน</h4>
              <hr>
              
              <div class="row" id="header">
                <div class="col-12 col-md-4 form-group">
                  <label for="">ขื่อผู้ใช้</label>
                  <input type="text" name="username"  class="form-control" value="<%=data[0].username%>" disabled>
                  <% if (errors.username) { %>
                    <div class="error text-danger">*<%= errors.username.msg %></div>
                  <% } %>
                  <label for="password">รหัสผ่านผ่านใหม่</label>
                  <input type="password" name="password"  class="form-control" placeholder="รหัสผ่าน*">
                  <% if (errors.password) { %>
                    <div class="error text-danger">*<%= errors.password.msg %></div>
                  <% } %>
               
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12 col-md-4 form-group">
                  <label for="">ขื่อ</label>
                  <input type="text" name="fname"  class="form-control" value="<%=data[0].fname%>" disabled>
                  <% if (errors.fname) { %>
                    <div class="error text-danger">*<%= errors.fname.msg %></div>
                  <% } %>
                </div>

                <div class="col-12 col-md-4 form-group">
                  <label for="">นามสกุล</label>
                  <input type="text" name="lname"  class="form-control" value="<%=data[0].lname%>" disabled>
                  <% if (errors.lname) { %>
                    <div class="error text-danger">*<%= errors.lname.msg %></div>
                  <% } %>
                </div>

                <div class="col-12 col-md-3 form-group">
                  <label for="">ตำแหน่ง</label>
                  <input type="text" name="position"  class="form-control" value="<%=data[0].position%>" disabled>
                  <% if (errors.position) { %>
                    <div class="error text-danger">*<%= errors.position.msg %></div>
                  <% } %>
                </div>
          
                <div class="col-12 col-md-3 form-group" >
                
                    <label for="type">ประเภทผู้ใช้</label>
                    <select class="form-control" name="type" disabled>
                      <% if (data[0].type == 'admin') {%>
                        <option value="admin">admin</option>
                     <% }  %>
                      <% if (data[0].type == 1) {%>
                        <option  value="1">เจ้าหน้าที่เภสัช</option>
                     <% }  %>
                     <% if (data[0].type == 2) {%>
                      <option value="2">เจ้าหน้าพยาบาล</option>
                   <% }  %>
                     
                     
                     
                     

                    </select>
                  
                  <% if (errors.type) { %>
                    <div class="error text-danger">*<%= errors.type.msg %></div>
                  <% } %>
                </div>

              </div>
              <hr>
              <div class="btn-addform">
                <a class="btn btn-link"  href="/users/dashboard" >ยกเลิก</a>
                <button class="btn btn-success" type="submit" >บันทึก</button>
              </div>
              <% if(messages.error) {%>
                <script type="text/javascript">
                    Swal.fire({
                        icon: 'error',
                        title: 'มีชื่ออยู่ในระบบแล้ว',
                        text: 'ตรวจสอบใหม่',
                        timer: 3000
                    })
                </script>
            <%}%>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>


  </div>
</body>

</html>
