<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" href="/images/wu.png">
  
    <title>รถเข็นจ่ายยา</title>
</head>
<style>

</style>

<body>
    <%- include ../core/navbar.ejs %>
    <div class="container">
      
        <div class="row mt-4">
           
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h4>รายชื่อผู้ป่วยทั้งหมด</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-danger btn-sm shadow" onclick="resetPatient()">ล้างข้อมูลผู้ป่วย</button>
                    </div>
                </div>
               
                <hr>
            <form action="/trolley/detial-trolley/1" method="POST" >
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th >#</th>
                            <th>HN</th>
                            <th>ชื่อ-สกุล</th>
                            <th>เตียง</th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < data.length; i++) {%>
                         
                            
                        
                        <tr>
                            <td><%=i+1%></td>
                            <td><%=data[i].hnId%></td>
                            <td><%=data[i].fullname%></td>
                            <td><%=data[i].bed%></td>
                           
                        </tr>
                    <%} %>
                    </tbody>
           
                </table>
              
                
            </form>
            </div>
            
        </div>
        <hr>

        <a  class="btn btn-primary" href="/trolley/detail-trolley/1">ย้อนกลับ</a>
    </div>
    </div>

</body>
<script>

</script>

</html>